.ig-b-{
  display:inline-block;

  img{
    visibility:hidden;
  }

  &:hover{
    background-position:0 -60px;
  }

  &:active{
    background-position:0 -120px;
  }
}

.ig-b-32{
  width:32px;
  height:32px;
  background:url(//badges.instagram.com/static/images/ig-badge-sprite-32.png) no-repeat 0 0;
}

@media
only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and(-o-min-device-pixel-ratio:2/1),
only screen and(min-device-pixel-ratio:2),
only screen and(min-resolution:192dpi),
only screen and(min-resolution:2dppx) {
  .ig-b-32 {
    background-image:url(//badges.instagram.com/static/images/ig-badge-sprite-32@2x.png);
    background-size:60px 178px
  }
}
