.c {
  text-align: center !important;
}

.r {
    text-align: right;
}

.clearfix {
  overflow:hidden;
  height:100%;
}

@mixin font-family($type, $important: false) {
  @if $important == 'important' or $important == true {
    $important: ' !important';
  } @else {
    $important: '';
  }

  @if $type == sans-serif {
    font-family: sans-serif#{$important};
  } @else if $type == serif {
    font-family: serif#{$important};
  } @else if $type == monospace {
    font-family:Consolas, "Liberation Mono", 'Courier New'  Courier, Monaco, monospace#{$important};
  }
}

@mixin gradient-top-lighten($color: #e5e5e5, $lighten: 5%) {
  background-color: $color;
  @include filter-gradient(lighten($color, $lighten), $color, vertical);
  @include background-image(linear-gradient(lighten($color, $lighten) 0%, $color 100%));
}
