.r {
    text-align: right;
}

.clearfix {
  overflow:hidden;
  height:100%;
}

@mixin gradient-top-lighten($color: #e5e5e5, $lighten: 5%) {
  background-color: $color;
  @include filter-gradient(lighten($color, $lighten), $color, vertical);
  @include background-image(linear-gradient(lighten($color, $lighten) 0%, $color 100%));
}
