---
layout: default
---

{% for post in paginator.posts %}
<article>
  <header class="entry-header">
    <hgroup>
      <h1 class="entry-title">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h1>
      <div class="entry-header-btm">
        <time datetime="{{ post.date | date: '%Y-%m-%d' }}" class="postdate">
          {{ post.date | date_to_long_string }}
        </time>
      </div>
    </hgroup>
  </header>
  <section class="entry-content">
    {{ post.content }}
  </section>
</article>
{% endfor %}

<div id="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}">new post</a>
  {% endif %}
  {% if paginator.previous_page and paginator.next_page %}
    / 
  {% endif %}
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}">old post</a>
  {% endif %}
</div>
