---
layout: default
---

{% for post in paginator.posts %}
<article itemscope itemtype="http://schema.org/Article">
  <header class="entry-header">
    <hgroup>
      <h1 itemprop="name" class="entry-title-index">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h1>
      <div class="entry-header-btm-index">
        <time itemprop="datePublished" content="{{ post.date | date: '%Y-%m-%d' }}" class="postdate" datetime="{{ post.date | date: '%Y-%m-%d' }}">
          {{ post.date | date_to_long_string }}
        </time>
        {% for tag in post.tags%}
        <span class="tag">{{ tag }}</span>
        {% endfor %}
      </div>
    </hgroup>
  </header>
  <!-- <section itemprop="articleBody" class="entry&#45;content"> -->
  <!--   {{ post.excerpt }} -->
  <!-- </section> -->
</article>
{% endfor %}

<div id="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}/index.html">new post</a>
  {% endif %}
  {% if paginator.previous_page and paginator.next_page %}
    / 
  {% endif %}
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}/index.html">old post</a>
  {% endif %}
</div>

<div class="adsense">
{% include sites/adsense.html %}
</div>
