/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

body {
  background: #fff;
  color: #333;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  line-height: 2;
}

#wrapper {
  margin: 10px auto;
  width: 1000px;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;

  li {
    line-height: 1.75em;
  }

  span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;

  .header {
    a {
      font-weight: bold;
      text-decoration: none;
      .extra {
        color: #aaa;
        margin-left: 1em;
        &:hover {
          color: #000;
        }
      }
    }

    h1.title {
      display: inline-block;
      margin-bottom: 2em;
      a {
        color: #a00;
        &:hover {
          color: #000;
        }
      }
    }

  }

  .meta {
    color: #aaa;
  }

  .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;

    .contact {
      float: left;
      margin-right: 3em;
      a {
        color: #8085C1;
      }
    }

    .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
      img {
        border: 0;
      }
    }
  }
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post {
  pre {
    padding: 0 .4em;
  }

  code {
    padding: 0 .2em;
  }

  pre, code {
    border: 1px solid #ddd;
    background-color: #eee;
    border: none;
  }

  ul, ol {
    margin-left: 1.35em;
  }

  /* terminal */
  pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
  }

  pre.terminal code {
    background-color: #333;
  }
}

/*****************************************************************************/
/*
/* Social
/*
/*****************************************************************************/
#socialbar {
  @include inline-block-list(3px);

  li {
    vertical-align: top;
  }
}
