/*****************************************************************************/
/* Common
/*****************************************************************************/

$base-font-size: 18px;
$base-line-height: 28px;
@include establish-baseline;

body {
  background-color: #fff;
}

h1, h2, h3, h4, h5 {
  @include font-family("sans-serif", true);
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  text-decoration: none;
  @include transition-property(all);
  @include transition-duration(0.5s);
  @include transition-timing-function(ease-out);
  color: #2c7676;

  &:hover {
    color: #00a6a6;
  }
}

/*****************************************************************************/
/* Site
/*****************************************************************************/

#header {
  @include adjust-font-size-to($base-font-size,1);
  @include rhythm(2, 0, 0, 2, $base-font-size);
  text-align: center;
}

#sitename {
  $font-size: 18px;
  @include adjust-font-size-to($font-size,1);
}

.footer {
  @include adjust-font-size-to($base-font-size,2);
  @include rhythm(3, 1, 1, 0, $base-font-size);
  color:#fff;
  a { color: #fff; }
  background-color:#333;
  line-height: 100%;
}

img.profile_image {
  border: 10px solid #fff;
  margin-right: 2.0em;
  float:left;
}

div.profile_contact {
  @include inline-block-list(2px);

  ul, ol {
    @include adjust-font-size-to($base-font-size,0);
    @include rhythm(0, 0, 0, 0, $base-font-size);
    margin-left: 0.0rem;
  }

  li {
    vertical-align: top;
  }

  img {
    height: 32px;
    width: 32px;
  }
}

#pagination {
  $font-size: 12px;
  @include adjust-font-size-to($font-size,1);
  @include leader(2,$font-size);
  text-align: center;
}

.adsense {
  @include adjust-font-size-to($base-font-size,1);
  @include rhythm(1, 0, 0, 1, $base-font-size);
  text-align: center;
}

.tag-name {
  $font-size: 26px;
  font-weight: 900;
  @include adjust-font-size-to($font-size,1);
  @include rhythm(1, 0, 0, 1, $base-font-size);
}

.tag-cloud {
  @include adjust-font-size-to($base-font-size,1);
  @include rhythm(1, 0, 0, 1, $base-font-size);
}

/*****************************************************************************/
/* Posts
/*****************************************************************************/

$pwidth: 52rem;

.wrapper {
  margin: 0 auto;
  max-width: $pwidth;
  padding: 0 0.5rem;
}

/* header */
.entry-header {
  @include adjust-font-size-to($base-font-size,1);
  @include rhythm(1, 0, 0, 1, $base-font-size);
}

.entry-title {
  $font-size: 26px;
  font-weight: 900;
  @include adjust-font-size-to($font-size,1.5);
}

.entry-title-index {
  $font-size: 26px;
  font-weight: 600;
  @include adjust-font-size-to($font-size,1);
  @include rhythm(1, 0, 0, 0, $font-size);
}

.entry-header-btm {
  @include adjust-font-size-to($base-font-size,1);
  @include font-family("sans-serif", true);
  background-color: #555;
  @include box-shadow(rgba(0, 0, 0, .1) 0 0 1px);
  .postdate {
    color: #ecf0f1;
    margin: 0 7px;
  }

  .tag {
    background-color: rgba(0, 0, 0, .4);
    color: #eee;
    padding: 2px 4px;
    margin-right: 0.5px;
  }
}

.entry-header-btm-index {
  $font-size: 14px;
  @include adjust-font-size-to($font-size,1);
  @include font-family("sans-serif", true);
  @include rhythm(0, 0, 0, 0, $font-size);
  .postdate {
    margin-right: 7px;
  }

  .tag {
    background-color: rgba(0, 0, 0, .1);
    color: #666;
    padding: 2px 4px;
    margin-left: 0.5px;
  }
}

/* footer */
.entry-footer {
  @include adjust-font-size-to($base-font-size,1);
  @include rhythm(1, 0, 0, 1, $base-font-size);

  ul, ol {
    @include rhythm(1, 0, 0, 2, $base-font-size);
    margin-left: 1.5rem;
  }

  li {
    list-style-type: circle;
  }

}

.adsense {
  @include adjust-font-size-to($base-font-size,1);
  @include rhythm(1, 0, 0, 1, $base-font-size);
  text-align: center;
}

/* standard */
.entry-content {
  @include adjust-font-size-to($base-font-size,1);
  @include rhythm(2, 0, 0, 2, $base-font-size);

  h2 {
    $font-size: 32px;
    @include adjust-font-size-to($font-size,2);
    @include rhythm(2, 0, 0, 1, $font-size);
    border-bottom: 1px dashed rgba(0, 0, 0, .7);
  }

  h3 {
    $font-size: 26px;
    @include adjust-font-size-to($font-size,1.5);
    @include rhythm(1, 0, 0, 1, $font-size);
  }

  h4 {
    $font-size: 20px;
    @include adjust-font-size-to($font-size,1);
    @include rhythm(1, 0, 0, 1, $font-size);
  }

  p, div {
    @include adjust-font-size-to($base-font-size,1);
    @include rhythm(1, 0, 0, 1, $base-font-size);
  }

  img {
    max-width: $pwidth;
    @include box-shadow(rgba(black, 0.2) 0 0 5px);
  }

  pre, code {
    @include font-family("monospace", true);
  }

  pre {
    padding: 0.5rem;
    white-space: pre;
    code {
      border:0 solid #fefef2;
    }
  }
  p, li {
    code {
      @include highlight-code-oneline;
    }
  }

  ul, ol {
    @include adjust-font-size-to($base-font-size,1);
    @include rhythm(1, 0, 0, 1, $base-font-size);
    margin-left: 1.5rem;
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  ul {
    list-style-type: circle;
  }

  ol {
    list-style-type: decimal;
  }

  li ul {
    list-style-type: square;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  blockquote {
    @include rhythm(1, 0, 0, 1, $base-font-size);
    border-left:24px double #eee;
    color: #777;
    padding: 0 0 0 24px;
  }

  table {
    @include rhythm(1, 0, 0, 1, $base-font-size);
    @include font-family("sans-serif", true);
    border-collapse: collapse;
    color: #444;
    width: 100%;

    td, th {
      border-right: 1px solid #ddd;
      border-left: 1px solid #ddd;
      padding: 0 1rem;

      &:first-child {
        border-left: 0;
      }
      &:last-child {
        border-right: 0;
      }
    }

    th {
      font-weight: bold;
    }
  }

  sup {
    vertical-align: super;
    font-size: smaller;
  }

  .gist-file {
    table, div, span {
      @include adjust-font-size-to($base-font-size,1);
      @include rhythm(0, 0, 0, 0, $base-font-size);
    }
  }
}
