/*****************************************************************************/
/* Common
/*****************************************************************************/

$base-font-size: 16px;
$base-line-height: 24px;
@include establish-baseline;

body {
  background: #fff;
  color: #333;
}

h1, h2, h3, h4 {
  margin: 0;
  @include font-family("sans-serif", true);
}

h1 {
  $font-size: 36px;
  @include adjust-font-size-to($font-size,3);
  @include leader(1,$font-size);
  @include trailer(1,$font-size);
}

h2 {
  $font-size: 30px;
  @include adjust-font-size-to($font-size,2);
  @include leader(1,$font-size);
  @include trailer(1,$font-size);
}

h3 {
  $font-size: 24px;
  @include adjust-font-size-to($font-size,2);
  @include leader(1,$font-size);
  @include trailer(1,$font-size);
}

h4 {
  $font-size: 18px;
  @include adjust-font-size-to($font-size,1);
  @include leader(1,$font-size);
  @include trailer(1,$font-size);
}

a {
  text-decoration: none;
  @include transition-property(all);
  @include transition-duration(1s);
  @include transition-timing-function(ease-out);
  color: #2c7676;

  &:hover {
    color: #00a6a6;
  }
}

/*****************************************************************************/
/* Site
/*****************************************************************************/

#sitename {
  $font-size: 18px;
  @include adjust-font-size-to($font-size,3);
  @include leader(1,$font-size);
  @include trailer(1,$font-size);
}

#footer {
  $font-size: 16px;
  @include adjust-font-size-to($font-size,1);
  @include leader(1,$font-size);
  @include trailer(1,$font-size);
  text-align: center;
}

/*****************************************************************************/
/* Home
/*****************************************************************************/

/*****************************************************************************/
/* Posts
/*****************************************************************************/

.wrapper {
  max-width: 46em;
  margin: 0 auto;
  padding: 0 0.5em;
}

/* header */
.tags {
  $font-size: 16px;
  @include adjust-font-size-to($font-size,1);
  @include leader(1,$font-size);
  @include trailer(1,$font-size);

  span {
    background-color: #f7f7f7;
    @include border-radius(12px);
    padding: 3px 10px;
    margin-right: 6px;
  }
}

/* footer */
.nav-sns {
  @include inline-block-list(3px);

  li {
    vertical-align: top;
  }
}

/* standard */
.post {
  p {
    margin: 0 0 24px 0;
  }
  pre {
    padding: 0 0.4em;
  }

  code {
    padding: 0 0.2em;
  }

  pre, code {
    border: 1px solid #ddd;
    background-color: #eee;
    border: none;
  }

  ul, ol {
    margin-left: 1.35em;
  }

  pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #fff;

    code {
      background-color: #333;
    }
  }
}
