/*****************************************************************************/
/* Common
/*****************************************************************************/

$base-font-size: 16px;
$base-line-height: 24px;
@include establish-baseline;

body {
  background-color: #f5f5f5;
}

h1, h2, h3, h4 {
  @include font-family("sans-serif", true);
}

h1 {
  $font-size: 38px;
  font-weight: 900;
  @include adjust-font-size-to($font-size,3);
}

h2 {
  $font-size: 32px;
  @include adjust-font-size-to($font-size,2);
  @include leader(2,$font-size);
  @include trailer(1,$font-size);
  display: inline;
  border-bottom: 1px solid rgba(0, 0, 0, .7);
  @include box-shadow(rgba(255, 255, 255, .6) 0 1px 0);
}

h3 {
  $font-size: 26px;
  @include adjust-font-size-to($font-size,2);
  @include leader(1,$font-size);
  @include trailer(1,$font-size);
}

h4 {
  $font-size: 20px;
  @include adjust-font-size-to($font-size,1);
  @include leader(1,$font-size);
  @include trailer(1,$font-size);
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  text-decoration: none;
  @include transition-property(all);
  @include transition-duration(0.5s);
  @include transition-timing-function(ease-out);
  color: #2c7676;

  &:hover {
    color: #00a6a6;
  }
}

/*****************************************************************************/
/* Site
/*****************************************************************************/

#header {
  @include adjust-font-size-to($base-font-size,1);
  @include leader(2,$base-font-size);
  @include trailer(2,$base-font-size);
  text-align: center;
}

#sitename {
  $font-size: 18px;
  @include adjust-font-size-to($font-size,1);
}

#footer {
  @include adjust-font-size-to($base-font-size,1);
  @include leader(3,$base-font-size);
  @include trailer(3,$base-font-size);
  text-align: center;
}

#pagination {
  $font-size: 12px;
  @include adjust-font-size-to($font-size,1);
  @include leader(2,$font-size);
  text-align: center;
}

.adsense {
  @include adjust-font-size-to($base-font-size,1);
  @include leader(1,$base-font-size);
  @include trailer(1,$base-font-size);
  text-align: center;
}

/*****************************************************************************/
/* Posts
/*****************************************************************************/

$pwidth: 52rem;

.wrapper {
  margin: 0 auto;
  max-width: $pwidth;
  padding: 0 0.5rem;

  @include adjust-font-size-to($base-font-size,1);
  @include leader(1,$base-font-size);
  @include trailer(1,$base-font-size);
}

/* header */
.entry-header {
  @include adjust-font-size-to($base-font-size,1);
  @include leader(1,$base-font-size);
  @include trailer(1,$base-font-size);
}

.entry-header-btm {
  @include adjust-font-size-to($base-font-size,1);
  @include font-family("sans-serif", true);
  background-color: #555;
  @include box-shadow(rgba(0, 0, 0, .1) 0 0 1px);
}

.postdate {
  color: #ecf0f1;
  margin: 0 7px;
}

.tag {
  background-color: rgba(0, 0, 0, .4);
  color: #eee;
  padding: 2px 4px;
  margin-right: 0.5px;
}

/* footer */
.entry-footer {
  @include adjust-font-size-to($base-font-size,1);
  @include leader(1,$base-font-size);
  @include trailer(1,$base-font-size);

  ul, ol {
    @include leader(1,$base-font-size);
    @include trailer(2,$base-font-size);
    margin-left: 1.5rem;
  }

  li {
    list-style-type: circle;
  }

  .seealso {
    @include adjust-font-size-to($base-font-size,1);
    @include font-family("sans-serif", true);
    background-color: #555;
    @include box-shadow(rgba(0, 0, 0, .1) 0 0 1px);
    color: #eee;
    padding: 0 7px;
  }

}

.adsense {
  @include adjust-font-size-to($base-font-size,1);
  @include leader(1,$base-font-size);
  @include trailer(1,$base-font-size);
  text-align: center;
}

.nav-sns {
  @include inline-block-list(3px);

  li {
    vertical-align: top;
  }

  img {
    height: 32px;
    width: 32px;
  }
}

/* standard */
.entry-content {
  @include adjust-font-size-to($base-font-size,1);
  @include leader(2,$base-font-size);
  @include trailer(2,$base-font-size);

  p, div {
    @include adjust-font-size-to($base-font-size,1);
    @include leader(1,$base-font-size);
    @include trailer(1,$base-font-size);
  }

  img {
    max-width: $pwidth;
  }

  pre, code {
    @include font-family("monospace", true);
  }

  pre {
    padding: 0.5rem;
    white-space: pre;
    code {
      border:0 solid #fefef2;
    }
  }
  p {
    code {
      @include box-shadow(rgba(0, 0, 0, .2) 0 0 1px);
      background-color: #fdf6e3;
      color: #586e75;
      overflow: auto;
      font-size: 80% !important;
      padding: 2px 5px;
      margin: 0 3px;
    }
  }

  ul, ol {
    @include adjust-font-size-to($base-font-size,1);
    @include leader(1,$base-font-size);
    @include trailer(1,$base-font-size);
    margin-left: 1.5rem;
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  ul {
    list-style-type: circle;
  }

  ol {
    list-style-type: decimal;
  }

  li ul {
    list-style-type: square;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  blockquote {
    @include leader(1,$base-font-size);
    @include trailer(1,$base-font-size);
    border-left:24px double #eee;
    color: #777;
    padding: 0 0 0 24px;
  }

  table {
    @include leader(1,$base-font-size);
    @include trailer(1,$base-font-size);
    @include font-family("sans-serif", true);
    border-collapse: collapse;
    color: #444;
    width: 100%;

    td, th {
      border-right: 1px solid #ddd;
      border-left: 1px solid #ddd;
      padding: 0 1rem;

      &:first-child {
        border-left: 0;
      }
      &:last-child {
        border-right: 0;
      }
    }

    th {
      font-weight: bold;
    }
  }

  sup {
    vertical-align: super;
    font-size: smaller;
  }
}
