.clearfix {
  @include clearfix;
}

.c {
  text-align:center !important;
}

@mixin font-family($type, $important: false) {
  @if $important == 'important' or $important == true {
    $important: ' !important';
  } @else {
    $important: '';
  }

  @if $type == sans-serif {
    font-family: sans-serif#{$important};
  } @else if $type == serif {
    font-family: serif#{$important};
  } @else if $type == monospace {
    font-family: monospace#{$important};
  }
}
