{{ partial "header.html" . }}

<article itemscope itemtype="http://schema.org/BlogPosting" itemref="header footer" class="article">
  <header class="entry-header">
    <hgroup>
      <h1 itemprop="headline" class="entry-title">
        <a href="{{ .RelPermalink }}" itemprop="mainEntityOfPage">{{ .Title }}</a>
      </h1>
      <div class="entry-header-btm">
        <time itemprop="datePublished dateModified" content="{{ .Date.Format "2006-01-02" }}" class="postdate" datetime="{{ .Date.Format "2006-01-02" }}">
          {{ .Date.Format "2 Jan 2006" }}
        </time>
        {{ range .Params.tags }}
          <a href="{{ "/tags/" | relURL }}{{ . | urlize }}/index.html" class="tag">#{{ . }}</a>
        {{ end }}
      </div>
    </hgroup>
  </header>
  {{ with .Params.cover }}
  <section class="entry-cover" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
    <img src="{{.}}" class="cover" itemprop="url">
    <meta itemprop="width" content="100%">
    <meta itemprop="height" content="100%">
  </section>
  {{ end }}
  <section itemprop="articleBody" class="entry-content">
    {{ .Content }}
  </section>
  <footer class="entry-footer">
  {{ partial "social.html" . }}
    <div class="adsense">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- blog footer responsive -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-4155246445920766"
           data-ad-slot="2101467876"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>

    {{ if .Prev }}
    <div class="pagination r">
      <a href="{{ .Prev.RelPermalink }}">{{ .Prev.Title }} &raquo;</a>
    </div>
    {{ end }}
    {{ if .Next }}
    <div class="pagination">
      <a href="{{ .Next.RelPermalink }}">&laquo; {{ .Next.Title }}</a>
    </div>
    {{ end }}
  </footer>
</article>

{{ partial "footer.html" . }}
