<div class="adsense">
<style>
.blog-footer-responsive { width: 320px; height: 50px; }
@media(min-width: 31em) { .blog-footer-responsive { width: 468px; height: 60px; } }
@media(min-width: 46em) { .blog-footer-responsive { width: 728px; height: 90px; } }
</style>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- blog footer responsive -->
<ins class="adsbygoogle blog-footer-responsive" style="display:inline-block" data-ad-client="ca-pub-4155246445920766" data-ad-slot="2101467876"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
