<ul class="nav-sns">
  <li>
    <a href="http://b.hatena.ne.jp/entry/{{ post.url }}" class="hatena-bookmark-button" data-hatena-bookmark-layout="vertical" data-hatena-bookmark-title="{{ post.title }}" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
  </li>
  <li>
    <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-url="{{ post.url }}" data-text="{{ post.title }}" data-via="hfm" data-lang="ja">ツイート</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </li>
  <li>
    <div id="fb-root"></div><script>(function(a,b,c){var d,e=a.getElementsByTagName(b)[0];if(a.getElementById(c))return;d=a.createElement(b);d.id=c;d.src="//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=259377790762956";e.parentNode.insertBefore(d,e)})(document,"script","facebook-jssdk")</script>
    <div class="fb-like" data-href="{{ post.url }}" data-send="false" data-layout="box_count" data-width="72" data-show-faces="false" data-font="lucida grande"></div>
  </li>
  <li>
    <script type="text/javascript">window.___gcfg={lang:"ja"};(function(){var a=document.createElement("script");a.type="text/javascript";a.async=true;a.src="https://apis.google.com/js/plusone.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})()</script>
    <div class="g-plusone" data-size="tall" data-href="{{ post.url }}"></div>
  </li>
  <li>
    <a data-pocket-label="pocket" data-pocket-count="vertical" class="pocket-btn" data-lang="en"></a><script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
  </li>
  <li>
    <a href="http://bufferapp.com/add" class="buffer-add-button" data-text="{{ post.title }}" data-url="{{ post.url }}" data-count="vertical" data-via="hfm" data-picture="{{ post.url }}/bloglogo.png">Buffer</a><script type="text/javascript" src="http://static.bufferapp.com/js/button.js"></script>
  </li>
</ul>
