    </div>
    <footer class="footer">
      <div class="profile clearfix">
        <div class="wrapper">
          <img src='https://s.gravatar.com/avatar/47e8318347fb8cd6a2c39bc6cf6e333e?s=100' class="profile_image">

          <div>
            <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><a href="http://blog.hifumi.info/">OKUMURA Takahiro</a></span></span></br>
          I'm a software engineer, mainly engaged in web operation.
          </div>
          </br>
          <div class="profile_contact">
            Contact:
            <ul>
              <li><a href="sitemap.xml"><img src="/images/rss@2x.png" alt="RSS Feed" /></a></li>
              <li><a href="https://twitter.com/hfm" target="_blank"><img src="/images/twitter@2x.png" alt="Twitter @hfm" /></a></li>
              <li><a href="https://github.com/tacahilo" target="_blank"><img src="/images/github@2x.png" alt="GitHub" /></a></li>
              <li><a href="http://instagram.com/hfm?ref=badge" class="ig-b- ig-b-32" target="_blank"><img src="//badges.instagram.com/static/images/ig-badge-32.png" alt="Instagram" /></a></li>
              <li><a href="https://plus.google.com/+TakahiroOkumura" rel="publisher" target="_blank"><img src="//ssl.gstatic.com/images/icons/gplus-64.png" alt="Google+"/></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
