    </div>
    <footer id="footer">
      <div class="profile clearfix">
        <div class="wrapper">
          <img src='https://s.gravatar.com/avatar/47e8318347fb8cd6a2c39bc6cf6e333e?s=80' class="profile_image">

          <div>
            <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><a href="http://blog.hifumi.info/">OKUMURA Takahiro</a></span></span>
            </br>
            Senior engineer / Web operation engineer at GMO Pepabo, Inc.
          </div>
          </br>
          <div class="profile_contact">
            <ul>
              <li><a href="sitemap.xml"><img src="/images/rss@2x.png" alt="RSS Feed" /></a></li>
              <li><a href="https://twitter.com/hfm" target="_blank"><img src="/images/twitter@2x.png" alt="Twitter @hfm" /></a></li>
              <li><a href="https://github.com/hfm" target="_blank"><img src="/images/github@2x.png" alt="GitHub" /></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
