{{ partial "header.html" . }}
{{ range .Data.Pages }}
<article class="article" itemscope itemtype="http://schema.org/BlogPosting" itemref="header footer">
  <span itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
    <meta content="{{ .Site.BaseURL }}logo.png" itemprop="url">
    <meta itemprop="width" content="32">
    <meta itemprop="height" content="32">
  </span>
  <header class="entry-header-index">
    <hgroup>
    <h1 class="entry-title" itemprop="headline">
      <a href="{{ .RelPermalink }}" itemprop="mainEntityOfPage url">{{ .Title }}</a>
    </h1>

    <div class="entry-header-btm">
      <time itemprop="datePublished dateModified" content="{{ .Date.Format "2006-01-02" }}" class="postdate" datetime="{{ .Date.Format "2006-01-02" }}">
        {{ .Date.Format "2 Jan 2006" }}
      </time>
      {{ range .Params.tags }}
        <a href="{{ "/tags/" | relURL }}{{ . | urlize }}.html" class="tag">#{{ . }}</a>
      {{ end }}
    </div>
    </hgroup>
  </header>
</article>
{{ end }}
{{ partial "footer.html" . }}
