{{ partial "header.html" . }}

{{ range first 20 .Data.Pages }}
  <article itemscope itemtype="http://schema.org/Article" class="article">
    <header class="entry-header-index">
      <hgroup>
        <h1 itemprop="name" class="entry-title">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h1>

        <div class="entry-header-btm">
          <time itemprop="datePublished" content="{{ .Date.Format "2006-01-02" }}" class="postdate" datetime="{{ .Date.Format "2006-01-02" }}">
            {{ .Date.Format "2 Jan 2006" }}
          </time>
          {{ range .Params.tags }}
            <a href="/tag/{{ . }}.html"><span class="tag">{{ . }}</span></a>
          {{ end }}
        </div>
      </hgroup>
    </header>
  </article>
{{ end }}

<div id="pagination">
  {{ if .Prev }}
    <a href="{{ .Prev.Permalink }}">new post</a>
  {{ end }}
  {{ if and .Next .Prev }}/{{ end }}
  {{ if .Next }}
    <a href="{{ .Next.Permalink }}">old post</a>
  {{ end }}
</div>

<div class="adsense">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- blog index footer -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-4155246445920766"
       data-ad-slot="6220172670"
       data-ad-format="auto"></ins>
  <script>
(adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>

{{ partial "footer.html" . }}
