<ul class="nav-sns">
  <li><a href="sitemap.xml"><img src="/images/rss@2x.png" alt="RSS Feed" /></a></li>
  <li><a href="https://twitter.com/hfm" target="_blank"><img src="/images/twitter@2x.png" alt="Twitter @hfm" /></a></li>
  <li><a href="https://github.com/tacahilo" target="_blank"><img src="/images/github@2x.png" alt="GitHub" /></a></li>
  <li><a href="http://instagram.com/hfm?ref=badge" class="ig-b- ig-b-32" target="_blank"><img src="//badges.instagram.com/static/images/ig-badge-32.png" alt="Instagram" /></a></li>
  <li><a href="https://plus.google.com/+TakahiroOkumura" rel="publisher" target="_blank"><img src="//ssl.gstatic.com/images/icons/gplus-64.png" alt="Google+"/></a></li>
</ul>
