<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}" />
    <meta name="keywords" content="Programming">
    {% include sites/twitter_card.html %}
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
    {% include sites/analytics.html %}
  </head>
  <body>
    <header id="header">
      <h1 id="sitename">
        <a href="/">
          <img src="/images/title@2x.gif" width="21" height="21">
          {{ site.name }}
          <img src="/images/title@2x.gif" width="21" height="21">
        </a>
      </h1>
    </header>
    <div class="wrapper">
      {{ content }}
    </div>
    <footer id="footer">
      {% include sites/link.html %}
      <div>
        © <a href="http://hifumi.info/">Takahiro OKUMURA</a>
      </div>
    </footer>
  </body>
</html>
