---
layout: default
---
<article>
  <header class="entry-header">
    <hgroup>
      <h1 class="entry-title">
        {{ page.title }}
      </h1>
      <div class="entry-header-btm">
      <time datetime="{{ page.date | date: '%Y-%m-%d' }}">
        {{ page.date | date_to_long_string }}
      </time>
    </div>
    </hgroup>
  </header>
  <section class="entry-content">
    {{ content }}
  </section>
  <footer class="entry-footer">
    {% include posts/adsense_footer.html %}
  </footer>
</article>
