---
layout: default
---
<article>
  <header class="entry-header">
    <hgroup>
      <h1 class="entry-title">
        {{ page.title }}
      </h1>
      <div class="entry-header-btm">
        <time class="postdate" datetime="{{ page.date | date: '%Y-%m-%d' }}">
          {{ page.date | date_to_long_string }}
        </time>
        {% for tag in page.tags%}
        <span class="tag">{{ tag }}</span>
        {% endfor %}
      </div>
    </hgroup>
  </header>
  <section class="entry-content">
    {{ content }}
  </section>
  <footer class="entry-footer">

    <div class="pagination c">
      {% if page.next %}
      <a href="{{ page.next.url }}">&laquo; {{ page.next.title }}</a>
      {% endif %}
      {% if  page.next and page.previous %}
      /
      {% endif %}
      {% if page.previous %}
      <a href="{{ page.previous.url  }}">{{ page.previous.title }} &raquo;</a>
      {% endif %}
    </div>

    <h4 class="seealso">see also</h4>
    <ul>
      {% for post in site.related_posts limit:3 %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
    {% include posts/adsense_footer.html %}
  </footer>
</article>
