---
layout: default
---
{% if page.date %}
  <div class="postdate">{{ page.date | date_to_string }}{% if page.last_updated %} | {{ page.last_updated | date_to_string }} 更新{% endif %}</div>
{% endif %}

{% if page.superseded %}
  {% for post in site.posts %}
    {% if page.superseded == post.url %}
      <div class="superseded">
        This guide has been superseded by <a href="{{ post.url }}">{{ post.title }}</a>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}

<div class="post">
  {{ content }}
</div>

{% include posts/socialbar.html %}
{% include posts/related_posts.html %}

