---
layout: default
---

<article itemscope itemtype="http://schema.org/Article" class="article">
  <header>
    <h1 itemprop="name" class="tag-name">
      tag: {{ page.tag }}
    </h1>
  </header>
  {% for post in page.posts %}
    <section class="entry-header-index">
      <h1 itemprop="name" class="entry-title">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h1>

      <div class="entry-header-btm">
        <time itemprop="datePublished" content="{{ post.date | date: '%Y-%m-%d' }}" class="postdate" datetime="{{ post.date | date: '%Y-%m-%d' }}">
          {{ post.date | date_to_long_string }}
        </time>
      </div>
    </section>
  {% endfor %}
</article>

<aside class="tag-cloud">
  {{ site | tag_cloud }}
</aside>
